html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F4F4EA;
  }

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Chewy', cursive;
    padding-top: 10vh;
    position: relative;
    z-index: 2;
    font-size: 5vw;
    margin-bottom: 1vh;
}

.headimg {
    position: absolute;
    left: 30vw;
    width: 40vw;
    height: 30vh;
    object-fit: cover;
    overflow: hidden;
    z-index: 0;
} 

p {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0vw;

}

.bookCard {
    margin: 5vw 0vw 0vw 0vw;
    padding: 0vw 0vw 2vw 0vw;
    border-radius: 15px 15px 0px 0px;
    font-size: 24pt;
    width: 10vw;
    height: 35vh;
    writing-mode: vertical-rl;
    font-family: 'Chewy', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}

.bookCard .cancel{
    position: relative;
    bottom: 0px;
    left: 4vw;
}

.addBook {
    width: 10vw;
    height: 10vh;
    position: relative;
    left: 45vw;
    border-radius: 300vw;
    background-color: #FC5658;
    font-size: 1.5vw;
    border: 3px solid black ;
    font-family: 'Chewy', cursive;
    box-shadow: inset 15px 15px 22px 0px rgba(250, 250, 250, 0.31);
}

.addBook:active {
    box-shadow: inset 5px 5px 15px 0px rgba(0, 0, 0, 0.41);
}

.bookshelf {
    height: 2vh;
    width: 100vw;
    background-color: #CA9A47;
}

.bookform {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.5fr 1fr 4fr;
    background-color: white;
    border-radius: 1vw;
    border: 3px solid darkblue;
    width: 25vw;
    padding: 2vw 2vw 2vw 2vw;
    position: absolute;
    left: 37vw;
    bottom: 30vh;
    z-index: 2;
    animation: slideDown 0.5s ease-out;
    font-family: 'Chewy', cursive;
    letter-spacing: 1pt;
}

.text-box {
    border: 2px solid #E0E0E0;
    width: 15vw;
    height: 3vh;
    border-radius: 5px;
    background-color: #F0F0F0;
}

.check {
    accent-color: #6C5CE7;
    height: 2vh;
    width: 2vw;
}

.submit {
    border-radius: 300px;
    background-color: #6C5CE7;
    color: white;
    height: 5vh;
    min-width: 5vw;
    font-family: 'Chewy', cursive;
    font-size: 12pt;
    letter-spacing: 2px;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0.5;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

.formHeader {
    font-size: 20pt;
    padding: 0vw;
    margin: 0px;
    letter-spacing: 2pt;
    grid-area: 2 / 1 / 3 / 3;
}

.cancel {
    grid-area: 1 / 2 / 2 / 3;
    height: 3vh;
    width: 3vh;
    background-color: transparent;
    border: none;
    justify-self: end;
    font-size: 20pt;
    font-family: 'Chewy', cursive;
}

.cancel:active {
    color: darkgray;
}

.cancel:hover {
    color: #6C5CE7;
}

form {
    grid-area: 3 / 1 / 4 / 3;
}